[user]
	name = griera
	email = genis.riera.perez@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	st = status
	p = push
	cm = commit -m
	cma = commit -am
	cmam = commit --ammend -m
	cl = clone
	aa = add -A
	f = fetch
	mg = merge
	df = diff
