[user]
    name = griera
    email = genis.riera.perez@gmail.com
[core]
    editor = vim
[merge]
    tool = vimdiff
[color]
    ui = true
[alias]
    st = status
    ph = push
    pl = pull
    cm = commit -am
    cam = commit --amend -m
    cl = clone
    aa = add -A
    f = fetch
    m = merge
    br = branch
    df = diff
    phom = push -u origin master
    starflow = config user.email \"griera@starflownetworks.com\"
    co = checkout
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
