[user]
    name = griera
    email = genis.riera.perez@gmail.com
[core]
    editor = vim
[merge]
    tool = vimdiff
[color]
    ui = true
[alias]
    st = status
    ph = push
    cim = commit -m
    ciam = commit -am
    cimam = commit --amend -m
    cl = clone
    aa = add -A
    f = fetch
    m = merge
    br = branch
    d = diff
    phom = push -u origin master
    starflow = config user.email \"griera@starflownetworks.com\"
    co = checkout
