! Selected terminal theme
#include "terminal_themes/monokai"

! Use a nice truetype font and size by default...
xterm*faceName: DejaVu Sans Mono for Powerline
xterm*faceSize: 11

! Not all shells are login shell by default
xterm*loginshell: false

! I like a LOT of scrollback...
xterm*savelines: 16384

! Double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

xterm*cursorBlink: false
